*{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square{
    border: 1px gray solid;
    height: 150px;
}

button{
    margin: auto;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}